@model IEnumerable<NBP_3.Models.MongoCar>
@{
    ViewData["Title"] = "Cars";
}

<h1>Tags</h1>


<form asp-controller="TagBrandCar"  asp-action="AddCar" method="post">
    <p>
        Tag: <input type="text" name="tag" />
        <input type="submit" value="Add" />
    </p>
</form>
<p>
    <a asp-action="Index">Back</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayName(item.Id.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="DeleteCar" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
