@model NBP_3.Models.ProductList
@{
    ViewData["Title"] = "Test";
}

<h1>Products</h1>

<form asp-controller="Home"  asp-action="Index" method="get">
    <p>
        Product Name: <input type="text" name="name" />
        <select name="type">
            <option value="Part">Auto Part</option>
            <option value="Accessory">Auto Accessory</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table" style="table-layout: fixed; width: 100%;">
    <tbody>
        @for(var i = 0; i < ViewBag.size; i = i + 4)
        {
            <tr>
                @for(var j = 0; j < 4 ; j++){
                    @if (ViewBag.size > i + j)
                    {
                       var item = Model.Products.ElementAt(i + j);
                       <td style="width:25%;">
                           <table class="table" style="table-layout: fixed; width: 100%;">
                               <tr>
                                   <td>
                                       Name: <a asp-action="ViewProduct" asp-controller="Home" asp-route-id="@item.Id">@Html.DisplayName(item.Name) </a>
                                   </td>
                                   <td>
                                       Price: @Html.DisplayName(item.Price.ToString())
                                   </td>
                               </tr>
                               <tr>
                                   <td colspan="2"><img src="@ViewBag.ImageDataUrl[i+j]" /></td>
                                    
                               </tr>
                               @if(User?.Identity?.IsAuthenticated ?? false)
                            {
                                
                                @if(User.IsInRole("Admin"))
                                {
                                    <tr>
                                        <td>
                                            <a class="nav-link text-dark" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                        <td>
                                            <a class="nav-link text-dark" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </td>
                                    </tr>
                                   
                                    
                                }
                            }
                           </table>
                          
                          
                         
                          
                       </td>
                    }
                }   
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

}
<a asp-action="Index"
asp-route-pageNumber="@(Model.PageIndex-1)"
class="btn btn-default @prevDisabled">Previous</a>
<a asp-action="Index"
asp-route-pageNumber="@(Model.PageIndex+1)"
class="btn btn-default @nextDisabled">Next</a>

