@model IEnumerable<NBP_3.Models.MongoCartObject>
@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<form asp-controller="Cart"  asp-action="Checkout" method="get">
        <input type="submit" value="Checkout" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="DeleteProduct" asp-route-id="@item.Product.Id">Delete One</a>
            </td>
        </tr>
}
    </tbody>
</table>
